$color1: #000000;
$color2: #ffffff;
$color3: #B2FCE5;
$color4: #508991;
$color5: #172A3A;
$color6: #004346;
$color7: #09BC8A;

$black: $color1;
$white: $color2;
$primary: $color3;
$secondary: $color4;
$tertiary: $color5;