@import '~styles/colors';

.container {
    font-family: sans-serif;
    padding: 30px 30px;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(500px, 1fr) );

    table {
      width: 100%;
    }

    .link {
      text-decoration: inherit;
      color: $tertiary;
      font-weight: 600;
      font-size: 14px;
      border-radius: .75rem;
      background-color: rgba($tertiary, 1);
      color: $white;
      padding: 5px;
      white-space: nowrap;

      &:visited {
        text-decoration: inherit;
      }

      &:hover {
        opacity: 50%;
      }

      &:active {
        text-decoration: inherit;
      }
    }


}